.square {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 316px;
    height: 316px;
}

.mole {
    background-image: url('images/mole.png');
    background-size: cover;
}
.btn{
    height:30px;
    margin-left:10%;
    background-color: rgb(174, 243, 220);
    border: black 1px sold;
    cursor: pointer;
    font-size: 16px;
    padding: 4px 8px;
}
